/* ========= articles styling ======== */
.articles {
}

.articles-container {
    justify-content: space-between;

    article {
        max-width: 45%;
        color: $sec-color;

        header {
            margin: 2rem 0 1rem 0;
            //padding: 1rem 0;

            h3 {
                font-size: 1.6em;
                font-weight: 400;
                color: $main-color;
            }
        }

        p {
            padding: 1rem 0;
            color: $sec-color;
        }

        .article-img {
            height: 240px;
            overflow: hidden;

            img {
                width: 100%;
                vertical-align: middle;
            }
        }
    }

    @media (max-width: $medium) {
        & {
            flex-wrap: wrap;

            article {
                max-width: max-content;
                margin-bottom: 2rem;
                padding-bottom: 2rem;
                border-bottom: 1px solid transparentize($main-color, .75);

                .article-img {
                    max-height: 200px;

                    img {
                        margin-top: -10%;
                    }
                }

                header {
                    margin-top: 1rem;
                }

                p {
                    padding: 0;
                }
            }
        }
    }
}

/* ========= end articles styling ======== */