// Texts fonts
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

// Fonts variables
$ubuntu: "Ubuntu", sans-serif;
$piazzo: "Piazzolla", serif;

// Colors variables
$main-color: #ffa400;
$font-color: #495454;
$blue-color: #00dafd;
$sec-color: #7a7b7d;
$white: #fff;
$break-white: #eaf6ff;
$black: #000;

//media queries variables
$medium: 1024px;