@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
/* ==== Predefined styles */
*, *::before, *::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif, "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #495454;
  text-align: left; }

/*===== Title zone =====*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

h1, .h1 {
  font-size: 2.5em; }

h2, .h2 {
  font-size: 2.3em; }

h3, .h3 {
  font-size: 2em; }

h4, .h4 {
  font-size: 1.6em; }

h5, .h5 {
  font-size: 1.4em; }

h6, .h6 {
  font-size: 1.2em; }

.main-title {
  font-family: "Ubuntu", sans-serif, sans-serif;
  line-height: 1;
  color: #ffa400; }

.b-title {
  font-family: "Piazzolla", serif, Serif;
  line-height: 2;
  color: #00dafd; }

.main-title, .b-title {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem; }
  @media (max-width: 992px) {
    .main-title, .b-title {
      font-size: 2em;
      line-height: 1.2;
      margin-bottom: 1rem; } }

.l4-title {
  font-family: "Piazzolla", serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffa400; }

.post-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #7a7b7d; }

/*===== End title zone =====*/
p {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  text-decoration: none;
  outline: none; }

ul {
  padding: 0; }

li, ol, ul, dl {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.fas, .far, .fab, .fa {
  margin: 0 .25rem;
  vertical-align: middle; }

/*===== Margin and padding zone =====*/
.py-70 {
  padding: 70px 0; }

.p-120 {
  padding: 120px; }

.pt-120 {
  padding-top: 120px; }

.pb-120 {
  padding-bottom: 120px; }

.px-15 {
  padding-left: 15px;
  padding-right: 15px; }

.m-1 {
  margin: 1rem; }

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.mr-1 {
  margin-right: 1rem; }

/*===== End margin and padding zone =====*/
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.section-header p {
  color: #7a7b7d; }
@media (max-width: 992px) {
  .section-header {
    max-width: 90%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.flex {
  display: flex; }

.img {
  width: 100%;
  vertical-align: middle; }

.img-rounded {
  border-radius: 50%; }

/*====== Font weight defining ======*/
.weight300 {
  font-weight: 300; }

.weight400 {
  font-weight: 400; }

.weight500 {
  font-weight: 500; }

.weight600 {
  font-weight: 600; }

/*====== Text positioning ======*/
.t-center {
  text-align: center !important; }

.t-left {
  text-align: left !important; }

.t-right {
  text-align: right !important; }

.form-group {
  margin-bottom: 1rem; }

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.input-group {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }

.form-control {
  position: relative;
  display: block;
  line-height: 2;
  height: calc(2.25rem + 2px);
  outline: none;
  background-clip: padding-box; }

.widget-title {
  padding: 8px 0;
  margin-bottom: 30px;
  background-color: #ffa400;
  color: #fff;
  font-size: 18px;
  line-height: 2; }

/* ====== header styling ====== */
.header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding-top: 1rem;
  border-top: 0.5rem solid #ffa400;
  background: transparent;
  color: #eaf6ff;
  z-index: 9999; }
  .header .logo img {
    max-width: 150px; }
  @media (max-width: 992px) {
    .header .logo {
      position: absolute;
      left: 50px;
      top: 15px; } }
  @media (max-width: 992px) {
    .header .navigation {
      display: block;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: 500px;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 9999;
      visibility: hidden;
      transform: translateX(-100%);
      transition: transform .5s ease, visibility .5s ease; } }
  .header .nav-links {
    display: flex;
    min-width: 50%;
    justify-content: flex-end;
    align-items: center; }
    .header .nav-links .nav-item {
      margin-left: 1rem;
      list-style-type: none; }
      @media (max-width: 992px) {
        .header .nav-links .nav-item {
          margin-bottom: 1rem; } }
      .header .nav-links .nav-item .nav-link {
        padding: .35rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        color: inherit;
        line-height: 2;
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all .3s ease; }
        @media (max-width: 992px) {
          .header .nav-links .nav-item .nav-link {
            padding: .5rem 1rem;
            color: #7a7b7d; } }
        .header .nav-links .nav-item .nav-link:hover, .header .nav-links .nav-item .nav-link:active, .header .nav-links .nav-item .nav-link.active {
          color: #ffa400;
          border-bottom-color: #ffa400; }
          @media (max-width: 992px) {
            .header .nav-links .nav-item .nav-link:hover, .header .nav-links .nav-item .nav-link:active, .header .nav-links .nav-item .nav-link.active {
              color: #eaf6ff;
              border-bottom-color: #eaf6ff; } }
    .header .nav-links .submenu {
      position: relative; }
    .header .nav-links .nav-item.submenu .dropdown-menu {
      position: absolute;
      display: block;
      left: 0;
      top: 150%;
      min-width: 200px;
      padding: 0;
      text-align: left;
      background-color: #ffa400;
      color: #eaf6ff;
      border: none;
      border-radius: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in; }
    @media (min-width: 992px) {
      .header .nav-links .nav-item.submenu:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 100%; } }
    .header .nav-links .dropdown-menu .nav-link {
      display: block;
      width: 100%;
      transition: color 0.25s ease-in; }
      .header .nav-links .dropdown-menu .nav-link:hover, .header .nav-links .dropdown-menu .nav-link:active, .header .nav-links .dropdown-menu .nav-link.hover, .header .nav-links .dropdown-menu .nav-link.active {
        color: #7a7b7d;
        border-bottom-color: none; }
    @media (max-width: 992px) {
      .header .nav-links {
        display: block;
        max-width: 75%;
        width: 400px;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
        padding-left: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: #ffa400;
        color: white; } }
  .header .hamburger {
    display: none; }
    @media (max-width: 992px) {
      .header .hamburger {
        display: block;
        position: absolute;
        font-size: 2rem;
        color: #ffa400;
        right: 20px;
        top: 10px;
        padding: 0 .5rem;
        border: 1px solid rgba(255, 164, 0, 0.05);
        border-radius: .25rem;
        transition: all .3s ease; }
        .header .hamburger:hover {
          color: rgba(255, 164, 0, 0.25);
          border-color: rgba(255, 164, 0, 0.35); }
        .header .hamburger i {
          vertical-align: initial; } }
  @media (max-width: 992px) {
    .header.show .navigation {
      transform: translateX(0);
      visibility: visible; } }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header.light-header {
  color: #ffa400; }

/* ===== end header styling ====== */
/* ========= banner styling ========= */
.banner {
  padding: 12em 2em 8em 2em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(255, 255, 255, 0.4)), url(../imgs/banner/banner.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 0.5rem solid #ffa400; }

.banner.single-banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(255, 255, 255, 0.4)), url(../imgs/blog/main-blog/mainBlog-2.jpg) center no-repeat;
  background-size: cover;
  height: 200px; }
  .banner.single-banner .b-title {
    margin-top: -5rem;
    margin-bottom: 0; }

.banner-wrapper {
  width: 70%;
  margin-top: -2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  text-shadow: 1px 1px 5px rgba(255, 164, 0, 0.76);
  /* ======== end banner styling ======= */ }
  .banner-wrapper .page-link a {
    padding: .5rem 0;
    margin-left: 1rem;
    color: #eaf6ff;
    transition: .25s ease-in; }
    .banner-wrapper .page-link a:hover {
      color: #ffa400; }
  .banner-wrapper p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2rem; }
  @media (max-width: 992px) {
    .banner-wrapper {
      width: 90%; }
      .banner-wrapper p {
        font-size: 1.1rem; } }

/* ======== card section styling ====== */
.card-wrapper {
  display: flex; }
  .card-wrapper article {
    margin-right: 1rem;
    padding: 0 1rem 0 1.5rem;
    border: 1px solid transparent;
    border-right-color: rgba(122, 123, 125, 0.55); }
    .card-wrapper article:last-child {
      border-right-color: transparent; }
    .card-wrapper article header {
      margin-bottom: 2rem; }
    .card-wrapper article h4 {
      max-width: 75%;
      font-family: "Piazzolla", serif;
      font-weight: 500;
      color: #ffa400;
      text-shadow: 1px 1px 2px; }
    .card-wrapper article p {
      color: #7a7b7d; }
  @media (max-width: 992px) {
    .card-wrapper {
      flex-flow: column; }
      .card-wrapper article {
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        border-right-color: transparent;
        border-bottom-color: rgba(122, 123, 125, 0.15); }
        .card-wrapper article:last-child {
          border-bottom-color: transparent; }
        .card-wrapper article h3 {
          max-width: 100%;
          width: 90%; } }

/* ========= end card section styling ======== */
/* ======= mentors styling ===== */
.mentors {
  background-color: #eaf6ff; }

.mentors-wrapper .mentors-container .mentor-box {
  width: 25%;
  flex: 0 0 25%; }
  @media (max-width: 992px) {
    .mentors-wrapper .mentors-container .mentor-box {
      width: 50%;
      flex: 0 0 50%; } }
  @media (max-width: 768px) {
    .mentors-wrapper .mentors-container .mentor-box {
      width: 90%;
      flex: 0 0 90%;
      margin-left: auto;
      margin-right: auto; } }
.mentors-wrapper .mentors-container .box {
  text-align: center;
  border-radius: .25rem;
  box-shadow: 1px 1px 3px rgba(255, 164, 0, 0.25), -1px -1px 3px rgba(255, 164, 0, 0.25);
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }
.mentors-wrapper .mentors-container .mentor-img {
  width: 200px;
  padding: 1rem;
  margin: auto;
  border-radius: 50%; }

/* ======= end mentors styling ====== */
/* ========= articles styling ======== */
.articles-container article {
  width: 50%;
  flex: 0 0 50%;
  color: #7a7b7d; }
  @media (max-width: 992px) {
    .articles-container article {
      width: 100%;
      flex: 0 0 100%;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(255, 164, 0, 0.25); } }
  .articles-container article header {
    margin-top: .5rem;
    margin-bottom: 1rem; }
    .articles-container article header h4 {
      font-weight: 400;
      color: #ffa400; }
  .articles-container article p {
    padding: 1rem 0;
    color: #7a7b7d; }
    @media (max-width: 992px) {
      .articles-container article p {
        padding: 0; } }
  .articles-container article .article-img {
    height: 240px;
    overflow: hidden; }
    @media (max-width: 992px) {
      .articles-container article .article-img {
        max-height: 200px; }
        .articles-container article .article-img img {
          margin-top: -10%; } }

/* ========= end articles styling ======== */
.blog-intro p {
  font-size: 1.1em; }

.blog-category .category-wrapper {
  justify-content: space-around;
  align-items: center; }
.blog-category .category-post {
  position: relative;
  max-width: 33%;
  flex: 0 0 33%;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 992px) {
    .blog-category .category-post {
      max-width: 100%;
      flex: 0 0 100%;
      margin: 1rem 0;
      overflow: hidden; } }
  .blog-category .category-post .category-details {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(25, 25, 32, 0.65);
    color: #eaf6ff;
    transition: all .3s ease; }
    .blog-category .category-post .category-details h5 {
      position: relative;
      margin-bottom: 0;
      font-size: 1.25em;
      line-height: 1.5;
      text-transform: uppercase;
      color: #eaf6ff; }
  .blog-category .category-post .border_line {
    margin: 10px 0;
    width: 100%;
    height: 1px;
    background: #eaf6ff; }
  .blog-category .category-post p {
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 2;
    font-weight: 400; }
  .blog-category .category-post:hover .category-details {
    background-color: rgba(255, 164, 0, 0.65); }

@media (max-width: 992px) {
  .blog-area .area-wrapper {
    padding-top: 1rem;
    border-top: 1px solid #ccc; } }
.blog-area .blog-left-sidebar {
  width: 67%;
  flex: 0 0 67%;
  padding: 0 1rem; }
  @media (max-width: 992px) {
    .blog-area .blog-left-sidebar {
      width: 100%;
      flex: 0 0 100%;
      padding-bottom: 2rem; } }
  .blog-area .blog-left-sidebar .blog-item {
    display: flex;
    margin-bottom: 4rem; }
  .blog-area .blog-left-sidebar .blog-post {
    width: 75%;
    flex: 0 0 75%; }
    .blog-area .blog-left-sidebar .blog-post .blog-details {
      padding-top: 1rem; }
      .blog-area .blog-left-sidebar .blog-post .blog-details h2 {
        margin-bottom: 1rem;
        color: #495454;
        transition: .3s ease; }
      .blog-area .blog-left-sidebar .blog-post .blog-details a:hover h2 {
        color: #ffa400; }
      .blog-area .blog-left-sidebar .blog-post .blog-details p {
        color: #7a7b7d; }
  .blog-area .blog-left-sidebar .blog-pagination {
    display: flex;
    justify-content: center; }
    .blog-area .blog-left-sidebar .blog-pagination .pagination {
      display: flex;
      justify-content: center; }
      .blog-area .blog-left-sidebar .blog-pagination .pagination .page-item {
        border: none; }
      .blog-area .blog-left-sidebar .blog-pagination .pagination .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        color: #7a7b7d;
        border: none;
        transition: .3s ease; }
        .blog-area .blog-left-sidebar .blog-pagination .pagination .page-link:hover, .blog-area .blog-left-sidebar .blog-pagination .pagination .page-link:active, .blog-area .blog-left-sidebar .blog-pagination .pagination .page-link.active {
          color: #eaf6ff;
          background-color: #ffa400;
          text-decoration: none;
          border-color: rgba(122, 123, 125, 0.75); }
        .blog-area .blog-left-sidebar .blog-pagination .pagination .page-link:disabled, .blog-area .blog-left-sidebar .blog-pagination .pagination .page-link.disabled {
          cursor: not-allowed;
          background-color: transparent;
          color: rgba(122, 123, 125, 0.55); }
.blog-area .blog-right-sidebar {
  width: 33%;
  flex: 0 0 33%;
  height: fit-content;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(234, 246, 255, 0.35);
  border: 1px solid #eeeeee; }
  @media (max-width: 992px) {
    .blog-area .blog-right-sidebar {
      width: 100%;
      flex: 0 0 100%; } }
  .blog-area .blog-right-sidebar .search-widget .input-group .form-control {
    width: 100%;
    padding: .375rem .75rem .375rem 20px;
    font-size: 14px;
    background-color: #ffa400;
    color: #fff;
    border: none;
    border-radius: 45px;
    z-index: 0; }
    .blog-area .blog-right-sidebar .search-widget .input-group .form-control::placeholder {
      color: #fff; }
  .blog-area .blog-right-sidebar .search-widget .input-group .btn-widget {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
    z-index: 1;
    transform: translateY(-50%); }
  .blog-area .blog-right-sidebar .author-widget h4 {
    margin-top: 1rem; }
  .blog-area .blog-right-sidebar .author-widget p {
    margin-bottom: 0; }
  .blog-area .blog-right-sidebar .author-widget .social_icon {
    padding: .5rem 0 1rem; }
    .blog-area .blog-right-sidebar .author-widget .social_icon a {
      margin-right: 1rem;
      color: #495454;
      transition: color .3s ease; }
      .blog-area .blog-right-sidebar .author-widget .social_icon a:hover {
        color: #ffa400; }
  .blog-area .blog-right-sidebar .newsletter-widget .form-group {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px; }
  .blog-area .blog-right-sidebar .newsletter-widget .input-group-prepend {
    display: flex;
    margin-right: -1px; }
  .blog-area .blog-right-sidebar .newsletter-widget .input-group-text {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    margin-bottom: 0;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 2;
    vertical-align: top;
    border: 1px solid #eee;
    border-right: 0;
    border-radius: 0;
    white-space: nowrap; }
  .blog-area .blog-right-sidebar .newsletter-widget .form-control {
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    padding: .375rem .75rem;
    font-size: 12px;
    border: 1px solid #eee;
    border-left: 0;
    border-radius: 0; }
  .blog-area .blog-right-sidebar .newsletter-widget .bbtns {
    display: inline-block;
    padding: 0 24px;
    font-size: 12px;
    line-height: 38px;
    font-weight: 500;
    background-color: #ffa400;
    color: #fff;
    border-radius: 0; }
    .blog-area .blog-right-sidebar .newsletter-widget .bbtns:hover, .blog-area .blog-right-sidebar .newsletter-widget .bbtns:focus {
      background-color: #e09000;
      outline: none; }
  .blog-area .blog-right-sidebar .tag-cloud-widget ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .blog-area .blog-right-sidebar .tag-cloud-widget ul li {
      margin-bottom: .75rem;
      margin-right: 3px; }
    .blog-area .blog-right-sidebar .tag-cloud-widget ul a {
      padding: 5px 10px;
      font-size: 13px;
      background-color: #fff;
      color: #495454;
      border: 1px solid #eeeeee;
      transition: .3s ease; }
  .blog-area .blog-right-sidebar .br {
    width: 100%;
    background-color: #eeeeee;
    height: 1px;
    margin: 30px 0px; }
@media (max-width: 992px) {
  .blog-area {
    padding-top: 0; } }
.blog-area.single-post-area h4 {
  font-size: 1rem; }
.blog-area.single-post-area .post-elts {
  width: 67%;
  flex: 0 0 67%;
  font-size: 15px; }
  @media (max-width: 992px) {
    .blog-area.single-post-area .post-elts {
      width: 100%;
      flex: 0 0 100%; } }
.blog-area.single-post-area .post-img {
  width: 75%;
  flex: 0 0 75%; }
  @media (max-width: 768px) {
    .blog-area.single-post-area .post-img {
      width: 100%;
      flex: 0 0 100%; } }
@media (max-width: 768px) {
  .blog-area.single-post-area .notice {
    display: none; } }
.blog-area.single-post-area .notice .quote {
  background-color: #eaf6ff;
  margin: 2rem 0;
  padding: 2rem 3rem;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.23); }
.blog-area.single-post-area .notice-img {
  width: 50%;
  flex: 0 0 50%; }
.blog-area.single-post-area .notice-text {
  margin-top: 25px; }
.blog-area.single-post-area .navigation-area {
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee; }
  @media (max-width: 768px) {
    .blog-area.single-post-area .navigation-area .thumb, .blog-area.single-post-area .navigation-area .arrow {
      display: none; } }
  .blog-area.single-post-area .navigation-area .nav-left, .blog-area.single-post-area .navigation-area .nav-right {
    display: flex;
    flex: 0 0 50%;
    width: 50%;
    align-items: center; }
    .blog-area.single-post-area .navigation-area .nav-left .thumb, .blog-area.single-post-area .navigation-area .nav-right .thumb {
      width: 60px;
      background-color: #000; }
      .blog-area.single-post-area .navigation-area .nav-left .thumb img, .blog-area.single-post-area .navigation-area .nav-right .thumb img {
        transition: all .3s ease-in; }
    .blog-area.single-post-area .navigation-area .nav-left:hover, .blog-area.single-post-area .navigation-area .nav-right:hover {
      cursor: pointer; }
      .blog-area.single-post-area .navigation-area .nav-left:hover .thumb img, .blog-area.single-post-area .navigation-area .nav-right:hover .thumb img {
        opacity: .5; }
      .blog-area.single-post-area .navigation-area .nav-left:hover .details a, .blog-area.single-post-area .navigation-area .nav-right:hover .details a {
        color: #ffa400; }
      .blog-area.single-post-area .navigation-area .nav-left:hover .arrow i, .blog-area.single-post-area .navigation-area .nav-right:hover .arrow i {
        opacity: 1; }
  .blog-area.single-post-area .navigation-area .nav-right {
    flex-flow: row-reverse;
    text-align: right; }
.blog-area.single-post-area .arrow {
  position: absolute;
  width: 60px;
  text-align: center; }
  .blog-area.single-post-area .arrow i {
    color: #ffa400;
    opacity: 0;
    transition: .3s ease-in; }
.blog-area.single-post-area .details p {
  margin-bottom: 0; }
.blog-area.single-post-area .details a {
  color: #495454;
  transition: .3s ease-in; }
.blog-area.single-post-area .comment-area {
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px; }
  .blog-area.single-post-area .comment-area h4 {
    margin-bottom: 50px;
    font-size: 1.2rem;
    text-align: center; }
  .blog-area.single-post-area .comment-area .thumb {
    width: 15%;
    flex: 0 0 15%; }
  .blog-area.single-post-area .comment-area .desc {
    width: 85%;
    flex: 0 0 85%; }
    .blog-area.single-post-area .comment-area .desc h5 {
      margin-bottom: 0; }
    .blog-area.single-post-area .comment-area .desc h5 a {
      color: #495454;
      font-size: 16px; }
  .blog-area.single-post-area .comment-area .single-comment {
    align-items: center;
    border-bottom: 1px solid #eee; }
  .blog-area.single-post-area .comment-area .comment-options .row {
    justify-content: space-between;
    margin-bottom: 0; }
  .blog-area.single-post-area .comment-area .comment-options small:first-child {
    font-style: italic;
    font-size: 11px;
    font-weight: bold; }
  .blog-area.single-post-area .comment-area .comment-options small:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eee;
    transition: .25s ease-in; }
    .blog-area.single-post-area .comment-area .comment-options small:last-child:hover {
      background-color: #ffa400;
      color: #eaf6ff; }
  .blog-area.single-post-area .comment-area .comment-options p {
    margin-bottom: 0; }
.blog-area.single-post-area .comment-form {
  background-color: rgba(243, 252, 255, 0.54);
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 45px 30px;
  text-align: center;
  border: 1px solid #eee; }
  .blog-area.single-post-area .comment-form h4 {
    margin-bottom: 50px;
    font-size: 1.2rem; }
  .blog-area.single-post-area .comment-form .form-inline .form-group {
    width: 50%;
    padding-right: 1rem; }
  .blog-area.single-post-area .comment-form .form-control {
    width: 100%;
    padding: 8px 20px;
    font-size: 14px;
    color: #495454;
    background-color: #fff;
    border: 1px solid transparent;
    transition: box-shadow .25s ease; }
    .blog-area.single-post-area .comment-form .form-control:hover {
      border-color: rgba(255, 164, 0, 0.25); }
    .blog-area.single-post-area .comment-form .form-control:focus {
      border-color: rgba(255, 164, 0, 0.25);
      box-shadow: 1px 1px 3px rgba(255, 164, 0, 0.6); }
  .blog-area.single-post-area .comment-form textarea.form-control {
    height: auto;
    resize: none; }
.blog-area .blog-info {
  width: 25%;
  flex: 0 0 25%;
  text-align: right; }
  @media (max-width: 992px) {
    .blog-area .blog-info {
      padding: 0 1rem 0 0; } }
  @media (max-width: 768px) {
    .blog-area .blog-info {
      width: 100%;
      flex: 0 0 100%; } }
  .blog-area .blog-info .post-tag {
    padding-bottom: 1rem; }
    .blog-area .blog-info .post-tag a {
      font: 300 0.9em/1.2 "Ubuntu", sans-serif;
      color: #495454;
      transition: .25s ease-in; }
      .blog-area .blog-info .post-tag a:active, .blog-area .blog-info .post-tag a.active, .blog-area .blog-info .post-tag a:hover, .blog-area .blog-info .post-tag a.hover {
        color: #ffa400; }
  .blog-area .blog-info .blog-meta {
    padding-left: 0; }
    @media (max-width: 768px) {
      .blog-area .blog-info .blog-meta {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px; }
        .blog-area .blog-info .blog-meta li {
          width: 25%;
          flex: 0 0 25%;
          padding-left: 5px;
          padding-right: 5px; } }
    .blog-area .blog-info .blog-meta a {
      display: inline-block;
      padding-bottom: 1rem;
      font-size: .9em;
      font-weight: 300;
      line-height: 1em;
      vertical-align: middle;
      color: #7a7b7d; }

/* ======= footer styling ========= */
.footer {
  background-color: #eaf6ff; }

.footer-wrapper .footer-blocks .footer-block {
  width: 50%;
  flex: 0 0 50%; }
  @media (max-width: 767.9px) {
    .footer-wrapper .footer-blocks .footer-block {
      width: 100%;
      flex: 0 0 100%; } }
.footer-wrapper .footer-blocks .f-links li {
  margin-bottom: 1rem; }
  .footer-wrapper .footer-blocks .f-links li a {
    padding: .5rem 0;
    color: #7a7b7d;
    border-bottom: 1px solid transparent;
    transition: all .3s ease; }
    .footer-wrapper .footer-blocks .f-links li a:hover, .footer-wrapper .footer-blocks .f-links li a:active {
      color: #ffa400;
      border-bottom-color: #ffa400; }
.footer-wrapper .footer-blocks .s-links ul {
  display: flex;
  align-items: center;
  width: 100%; }
.footer-wrapper .footer-blocks .s-links a {
  padding: 1rem;
  color: #7a7b7d;
  transition: all .3s ease; }
  .footer-wrapper .footer-blocks .s-links a:hover, .footer-wrapper .footer-blocks .s-links a:active {
    color: #ffa400; }
.footer-wrapper .copyright {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  color: #ffa400; }

/* ======== end footer styling ========= */
.btn {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #ffa400;
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all .3s ease; }
  .btn:hover, .btn:focus {
    outline: none;
    background-color: #db8d00;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); }
  .btn.btn-mini {
    padding: .25rem .5rem;
    font-size: 1rem; }
  .btn.btn-big {
    padding: .75rem 1.5rem; }
  .btn.btn-outline:hover {
    background-color: transparent;
    color: #ffa400;
    border-color: #ffa400;
    box-shadow: none; }

/*# sourceMappingURL=styles.css.map */
