@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
/* ==== Predefined styles */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif, "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #495454;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li, ol, ul, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fas, .far, .fab, .fa {
  margin: 0 .25rem;
  vertical-align: middle;
}

.p-70 {
  padding: 70px 0;
}

.p-120 {
  padding: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.b-title {
  font-family: "Piazzolla", serif;
  font-size: 3.5em;
  font-weight: 500;
  line-height: 2;
  color: #00dafd;
  margin-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .b-title {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}

.main-title {
  font-family: "Ubuntu", sans-serif, serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  color: #ffa400;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  .main-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.l4-title {
  font-family: "Piazzolla", serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffa400;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
}

.section-header p {
  color: #7a7b7d;
}
@media (max-width: 1024px) {
  .section-header {
    max-width: 90%;
    margin-bottom: 2rem;
  }
}

.flex {
  display: flex;
}

.img {
  width: 100%;
}

/* ====== header styling ====== */
.header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding-top: 1rem;
  border-top: 0.5rem solid #ffa400;
  background: transparent;
  color: #eaf6ff;
  z-index: 9999;
}
.header .logo img {
  max-width: 150px;
}
@media (max-width: 1024px) {
  .header .logo {
    position: absolute;
    left: 50px;
    top: 15px;
  }
}
@media (max-width: 1024px) {
  .header .navigation {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .5s ease, visibility .5s ease;
  }
}
.header .nav-links {
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  align-items: center;
}
.header .nav-links li {
  margin-left: 1rem;
  list-style-type: none;
}
.header .nav-links li a {
  padding: .35rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
  line-height: 2;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}
.header .nav-links li a:hover, .header .nav-links li a:active, .header .nav-links li a.active {
  color: #ffa400;
  border-bottom-color: #ffa400;
}
@media (max-width: 1024px) {
  .header .nav-links {
    display: block;
    max-width: 75%;
    width: 400px;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffa400;
    color: white;
  }
  .header .nav-links li {
    margin-bottom: 1rem;
  }
  .header .nav-links li a {
    padding: .5rem 1rem;
    color: #7a7b7d;
  }
  .header .nav-links li a:hover, .header .nav-links li a:active, .header .nav-links li a.active {
    color: #eaf6ff;
    border-bottom-color: #eaf6ff;
  }
}
.header .hamburger {
  display: none;
}
@media (max-width: 1024px) {
  .header .hamburger {
    display: block;
    position: absolute;
    font-size: 2rem;
    color: #ffa400;
    right: 20px;
    top: 10px;
    padding: 0 .5rem;
    border: 1px solid rgba(255, 164, 0, 0.05);
    border-radius: .25rem;
    transition: all .3s ease;
  }
  .header .hamburger:hover {
    color: rgba(255, 164, 0, 0.25);
    border-color: rgba(255, 164, 0, 0.35);
  }
  .header .hamburger i {
    vertical-align: initial;
  }
}
@media (max-width: 1024px) {
  .header.show .navigation {
    transform: translateX(0);
    visibility: visible;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== end header styling ====== */
/* ========= banner styling ========= */
.banner {
  padding: 12em 2em 8em 2em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(255, 255, 255, 0.4)), url(../imgs/banner/banner.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 0.5rem solid #ffa400;
}

.banner-wrapper {
  width: 70%;
  margin-top: -2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  text-shadow: 1px 1px 5px rgba(255, 164, 0, 0.76);
  /* ======== end banner styling ======= */
}
.banner-wrapper p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) {
  .banner-wrapper {
    width: 90%;
  }
  .banner-wrapper p {
    font-size: 1.1rem;
  }
}

/* ======== card section styling ====== */
.card-wrapper {
  display: flex;
}
.card-wrapper article {
  margin-right: 1rem;
  padding: 0 1rem 0 1.5rem;
  border: 1px solid transparent;
  border-right-color: rgba(122, 123, 125, 0.55);
}
.card-wrapper article:last-child {
  border-right-color: transparent;
}
.card-wrapper article header {
  margin-bottom: 2rem;
}
.card-wrapper article h3 {
  max-width: 75%;
  font-family: "Piazzolla", serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffa400;
  text-shadow: 1px 1px 2px;
}
.card-wrapper article p {
  color: #7a7b7d;
}
@media (max-width: 1024px) {
  .card-wrapper {
    flex-flow: column;
  }
  .card-wrapper article {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-right-color: transparent;
    border-bottom-color: rgba(122, 123, 125, 0.15);
  }
  .card-wrapper article:last-child {
    border-bottom-color: transparent;
  }
  .card-wrapper article h3 {
    max-width: 100%;
    width: 90%;
  }
}

/* ========= end card section styling ======== */
/* ======= mentors styling ===== */
.mentors {
  background-color: #eaf6ff;
}

.mentors-wrapper .mentors-container {
  justify-content: space-between;
}
.mentors-wrapper .mentors-container .box {
  max-width: 23%;
  width: 20%;
  text-align: center;
  padding: 3rem 1.5rem;
  box-shadow: 1px 1px 3px rgba(255, 164, 0, 0.25), -1px -1px 3px rgba(255, 164, 0, 0.25);
  border-radius: .25rem;
}
.mentors-wrapper .mentors-container .mentor-img {
  padding: 1rem;
  border-radius: 50%;
}
.mentors-wrapper .mentors-container img {
  max-width: 240px;
  width: 100%;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .mentors-wrapper .mentors-container {
    flex-wrap: wrap;
  }
  .mentors-wrapper .mentors-container .box {
    margin-bottom: 2rem;
    padding: 1rem 0;
    max-width: 48%;
    width: 45%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

/* ======= end mentors styling ====== */
/* ========= articles styling ======== */
.articles-container {
  justify-content: space-between;
}
.articles-container article {
  max-width: 45%;
  color: #7a7b7d;
}
.articles-container article header {
  margin: 2rem 0 1rem 0;
}
.articles-container article header h3 {
  font-size: 1.6em;
  font-weight: 400;
  color: #ffa400;
}
.articles-container article p {
  padding: 1rem 0;
  color: #7a7b7d;
}
.articles-container article .article-img {
  height: 240px;
  overflow: hidden;
}
.articles-container article .article-img img {
  width: 100%;
  vertical-align: middle;
}
@media (max-width: 1024px) {
  .articles-container {
    flex-wrap: wrap;
  }
  .articles-container article {
    max-width: max-content;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 164, 0, 0.25);
  }
  .articles-container article .article-img {
    max-height: 200px;
  }
  .articles-container article .article-img img {
    margin-top: -10%;
  }
  .articles-container article header {
    margin-top: 1rem;
  }
  .articles-container article p {
    padding: 0;
  }
}

/* ========= end articles styling ======== */
.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  .category-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

.category-post {
  position: relative;
  max-width: 33%;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .category-post {
    max-width: 100%;
    width: 100%;
    height: 240px;
    margin: 1rem 0;
    overflow: hidden;
  }
}
.category-post img {
  max-width: 100%;
}
.category-post .category-details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: rgba(25, 25, 32, 0.65);
  color: #eaf6ff;
  transition: all .3s ease;
}
.category-post .category-details h5 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.25em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #eaf6ff;
}
.category-post .category-details .border_line {
  margin: 10px 0;
  background: #eaf6ff;
  width: 100%;
  height: 1px;
}
.category-post .category-details p {
  font-weight: 300;
  font-size: 1em;
  line-height: 2;
  margin-bottom: 0;
}
.category-post:hover .category-details {
  background-color: rgba(255, 164, 0, 0.65);
}

@media (max-width: 1024px) {
  .blog-area {
    padding-top: 0;
  }
}

.area-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .area-wrapper {
    padding-top: 1rem;
    border-top: 1px solid #ccc;
  }
}

.blog-left-sidebar {
  width: 75%;
  flex: 0 0 75%;
  padding: 0 1rem;
}
@media (max-width: 1024px) {
  .blog-left-sidebar {
    width: 100%;
    flex: 0 0 100%;
    padding-bottom: 2rem;
  }
}
.blog-left-sidebar .blog-item {
  display: flex;
  margin-bottom: 4rem;
}
.blog-left-sidebar .blog-info {
  padding: 3rem 2rem 0;
  text-align: right;
}
@media (max-width: 1024px) {
  .blog-left-sidebar .blog-info {
    padding: 0 1rem 0 0;
  }
}
.blog-left-sidebar .blog-info .post-tag {
  padding-bottom: 1rem;
}
.blog-left-sidebar .blog-info .post-tag a {
  font: 300 0.9em/1.2 "Ubuntu", sans-serif;
  color: #495454;
}
.blog-left-sidebar .blog-info .blog-meta {
  padding-left: 0;
}
.blog-left-sidebar .blog-info .blog-meta a {
  display: inline-block;
  padding-bottom: 1rem;
  font-size: .9em;
  font-weight: 300;
  line-height: 1em;
  vertical-align: middle;
  color: #7a7b7d;
}
.blog-left-sidebar .blog-post .blog-details {
  padding-top: 1rem;
}
.blog-left-sidebar .blog-post .blog-details h2 {
  margin-bottom: 1rem;
  color: #495454;
  transition: .3s ease;
}
.blog-left-sidebar .blog-post .blog-details a:hover h2 {
  color: #ffa400;
}
.blog-left-sidebar .blog-post .blog-details p {
  color: #7a7b7d;
}
.blog-left-sidebar .blog-pagination {
  display: flex;
  justify-content: center;
}
.blog-left-sidebar .blog-pagination .pagination {
  display: flex;
  justify-content: center;
}
.blog-left-sidebar .blog-pagination .pagination .page-item {
  border: none;
}
.blog-left-sidebar .blog-pagination .pagination .page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  color: #7a7b7d;
  border: none;
  transition: .3s ease;
}
.blog-left-sidebar .blog-pagination .pagination .page-link:hover, .blog-left-sidebar .blog-pagination .pagination .page-link:active, .blog-left-sidebar .blog-pagination .pagination .page-link.active {
  color: #eaf6ff;
  background-color: #ffa400;
  text-decoration: none;
  border-color: rgba(122, 123, 125, 0.75);
}
.blog-left-sidebar .blog-pagination .pagination .page-link:disabled, .blog-left-sidebar .blog-pagination .pagination .page-link.disabled {
  cursor: not-allowed;
  background-color: transparent;
  color: rgba(122, 123, 125, 0.55);
}

.blog-right-sidebar {
  width: 25%;
  flex: 0 0 25%;
  height: fit-content;
  padding: 1.5rem;
  border: 1px solid #d4d5d5;
  background-color: #eaf6ff;
}
@media (max-width: 1024px) {
  .blog-right-sidebar {
    width: 100%;
    flex: 0 0 100%;
  }
}
.blog-right-sidebar .tag-cloud-widget ul {
  display: flex;
  flex-wrap: wrap;
}
.blog-right-sidebar .tag-cloud-widget ul li {
  margin-bottom: .25rem;
  margin-right: .1rem;
}
.blog-right-sidebar .tag-cloud-widget ul a {
  padding: .15rem .5rem;
  margin-bottom: .5rem;
  font-size: .8em;
  background-color: #fff;
  color: #495454;
  border: 1px solid #eeeeee;
  transition: .3s ease;
}

/* ======= footer styling ========= */
.footer {
  background-color: #eaf6ff;
}

.footer-wrapper .footer-blocks {
  justify-content: space-between;
}
.footer-wrapper .footer-blocks .footer-block {
  width: 45%;
  margin-left: 1rem;
}
.footer-wrapper .footer-blocks .f-links li {
  margin-bottom: 1rem;
}
.footer-wrapper .footer-blocks .f-links li a {
  padding: .5rem 0;
  color: #7a7b7d;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}
.footer-wrapper .footer-blocks .f-links li a:hover, .footer-wrapper .footer-blocks .f-links li a:active {
  color: #ffa400;
  border-bottom-color: #ffa400;
}
.footer-wrapper .footer-blocks .s-links {
  display: flex;
}
.footer-wrapper .footer-blocks .s-links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.footer-wrapper .footer-blocks .s-links li {
  margin-left: 1rem;
}
.footer-wrapper .footer-blocks .s-links li a {
  padding: 1rem;
  color: #7a7b7d;
  transition: all .3s ease;
}
.footer-wrapper .footer-blocks .s-links li a:hover, .footer-wrapper .footer-blocks .s-links li a:active {
  color: #ffa400;
}
.footer-wrapper .copyright {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  color: #ffa400;
}

/* ======== end footer styling ========= */
.btn {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #ffa400;
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all .3s ease;
}
.btn:hover, .btn:focus {
  outline: none;
  background-color: #db8d00;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}
.btn.btn-mini {
  padding: .25rem .5rem;
  font-size: 1rem;
}
.btn.btn-big {
  padding: .75rem 1.5rem;
}
.btn.btn-outline:hover {
  background-color: transparent;
  color: #ffa400;
  border-color: #ffa400;
  box-shadow: none;
}
